# Игнорирај ги сите фајлови во AppData/ (безбедност)
AppData/

# Игнорирај ги документите на корисникот
Documents/

# Игнорирај ги фајловите за историја на Bash
.bash_history

# Игнорирај ги податоците за Node.js
node/

# Игнорирај ги фајловите за конфигурација на Git
.gitconfig

# Игнорирај ги сите времено зачувани податоци и кешови
.cache/
.pm2/

# Игнорирај ги поврзаните линкови и програми
*.lnk

# Игнорирај ги лог фајловите на корисникот
ntuser.dat*
